* {
  margin: 0;
  padding: 0;
  font-family: Montserrat;
  box-sizing: border-box;
  color: #282828;
}
 .container {
  max-width: 1440px;
  margin: 0 auto;
 }

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/* 
@media (max-width: 1440px) {

}
@media (max-width: 1200px) {

}
@media (max-width: 992px) {

}
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}
 */