
.ProductsByCategoryPage {
    margin: 0 auto;
    padding: 0 40px;
    max-width: 1440px;
}
.ProductsByCategoryPage h2 {
    font-family: 'Montserrat, sans-serif';
    font-size: clamp(30px, 6vw, 64px);
    color: #282828;
    text-align: left;
    margin-bottom: 40px;
}
.ProductsByCategoryPageBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 32px;
}



@media (max-width: 576px) {
    .ProductsByCategoryPage {
        padding:0 15px;
    }
}